.nav-shop {
    height: 110px;
}
.nav-header {
    height: 60px;
    background-color: $background-nav-header;
    color: white;
    padding: 0 32px;
    display: flex;
}
.nav-header__logo {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 23px;
    padding-right: 18px;
}
.nav-header__center {
    display: flex;
    width: 100%;
}
.nav-header-form__container {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding: 0 15px;
}

.nav-header-form__search {
    font-size: 1rem;
    width: 100%;
    border: 0;
    height: 38px;
    border-radius: 19px/50%;
    padding-left: 16px;
    padding-right: 70px;
    box-sizing: border-box;
    color: #2d2d2d;
    -webkit-appearance: none;
}
.nav-header-list {
    display: flex;
    list-style: none;
    text-decoration: none;
    height: 100%;
}
.nav-header-list a {
    height: 100%;
    width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid rgba(255, 255, 255, 0.205);
    color: white;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
}
.nav-header-list a:last-child {
    border-right: 1px solid rgba(255, 255, 255, 0.205);
}
.nav-header-list a:hover {
    background-color: $background-nav-footer-hover;
    border: none;
    text-decoration: none;
}

.navLinkActive {
    background-color: $background-nav-footer;
    border: none !important;
}
.nav-header-icons-list {
    display: flex;
}
.nav-header-icons-list__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    cursor: pointer;
}
.fa {
    width: 1em;
    height: 1em;
}



.nav-footer {
    height: 50px;
    background-color: $background-nav-footer;
}