.nav-shop {
    height: 110px;
}
.nav-container {
    max-width: 1366px;
    margin: 0 auto;
    display: flex;
    padding: 0 32px;
    color: white;
    height: 100%;
}
.nav-header {
    height: 60px;
    background-color: $background-nav-header;
}
.nav-header__logo {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 23px;
    padding-right: 18px;
}
.nav-header__center {
    display: flex;
    width: 100%;
}
.nav-header-form__container {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding: 0 15px;
}

.nav-header-form__search {
    font-size: 1rem;
    width: 100%;
    border: 0;
    height: 38px;
    border-radius: 19px/50%;
    padding-left: 16px;
    padding-right: 70px;
    box-sizing: border-box;
    color: #2d2d2d;
    -webkit-appearance: none;
}
.nav-header-list {
    display: flex;
    list-style: none;
    text-decoration: none;
    height: 100%;
}
.nav-header-list a {
    height: 100%;
    width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid rgba(255, 255, 255, 0.205);
    color: white;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
}
.nav-header-list a:last-child {
    border-right: 1px solid rgba(255, 255, 255, 0.205);
}
.nav-header-list a:hover {
    background-color: $background-nav-footer-hover;
    border: none;
    text-decoration: none;
}

.navLinkActive {
    background-color: $background-nav-footer;
    border: none !important;
}
.nav-header-icons-list {
    display: flex;
}
.nav-header-icons-list__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    cursor: pointer;
    color: white;
}
.nav-header-icons-list__item-link {
    color: white;
}
.nav-header-icons-list__item-link:hover {
    color: white;
}
.cart-item {
    position: relative;
}
.cart-counter {
  position: absolute;
  color: white;
  top: -10px;
  right: -10px;
  background-color: rgb(252 96 92);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa {
    width: 1em;
    height: 1em;
}
.user-icon {
    position: relative;
}

// account hover card

.account-hover-card {
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #f7f4f4;
    width: 300px;
    max-height: 0;
    overflow: hidden;
    transition: max-height .6s;
    transition-delay: .25s;
}

.account-header {
    height: 50px;
    background-color: rgb(231, 228, 228);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #666;
    padding: 0 10px;
}
.account-header a {
    color: #666;
    text-decoration: underline;
}
.account-header a:hover {
    color: blue;
}
.fa-times:hover {
    color: blue;
}
.account-footer {
    display: flex;
    flex-direction: column;

}
.account-footer-link {
    height: 50px;
    color: #666;
    text-decoration: none;
    padding: 10px 10px 10px 25px;
    display: flex;
    align-items: center;
}
.account-footer-link span {
    display: block;
    padding-left: 10px;
}
.user-icon:hover .account-hover-card{
    max-height: 100vh;
    z-index: 20;
}
.nav-footer {
    height: 50px;
    background-color: $background-nav-footer;
}