.nav-footer {
    height: 50px;
    background-color: $background-nav-footer;
    
}
.nav-footer-container {
    max-width: 1366px;
    margin: 0 auto;
    display: flex;
    padding: 0 32px;
    color: white;
    height: 100%;
}

.nav-footer-categories {
    
    display: flex;
    height: 100%;
    width: 100%;
}
.categories-item {
    display: flex;
    position: relative;
    align-items: center;
    list-style: none;
    color: white;
    height: 100%;
    cursor: pointer;
    padding: 0 10px;
    font-family: Fatura-pt-book; 
    font-size: 15.5px;
}
.categories-item:hover {
    color: #2d2d2d;
    background-color: #eee;
}
