.gender-container {
    max-width: 1366px;
    margin: 0 auto;
    margin-top: 50px;
}
.main-page-banner {
    display: flex;
    justify-content: center;
}
.not-products-found {
    height: 70vh;
    padding-top: 100px;
    text-align: center;
}
.not-products-found-title {
    padding-bottom: 40px;

    font-size: 18px;
}

.not-products-found-image {
    width: 250px;
    height: 200px;
}
.breadcrumb-wrap {
    background-color: #e9ecef;
}
.breadcrumb {
    max-width: 1366px;
    margin: 0 auto;
    padding-left: 0;
}
.breadcrumb-item:last-child a {
    color: #6c757d;
    pointer-events: none;
}