.product-card {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.product-card-image {
    overflow: hidden;
    max-height: 405px;
}

.product-card-image img {
    width: 100%;
}
.product-card-title {
    padding: 5px;
}
.product-card-price {
    padding: 5px;
}
.product-discount {
    position: absolute;
    top: 15px;
    left: 0;
    font-size: 16px;
    letter-spacing: .8px;
    height: 15px;
    color: #d01345;
    background: white;
    line-height: 16px;
    padding-right: 5px;
}
.product-price-new {
    font-size: 17px;
    color: #D01345;
}