.product-card {
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.product-card-image {
    overflow: hidden;
    max-height: 405px;
}

.product-card-image img {
    width: 100%;
}
.product-card-title {
    padding: 5px;
}
.product-card-price {
    padding: 5px;
}